!!!5
html
	head
		title vecturia | error
		link(rel='shortcut icon', href='http://vecturia.com/design/favicon.ico')
		link(rel='stylesheet', href='css/layout.css')

	body(style='padding:100px;')
		h1 Cookie expired
		h2 Oh no !
		h3 I wouldn't eat that If I were you.
		a(href='/') go home
