!!!5
html
	head
		title vecturia | error
		link(rel='stylesheet', href='css/layout.css')

	body(style='padding:100px;')
		h1 Error
		h2 Oh no !
		h3 what did you do ? Your cookie may have expired.
		a(href='/') go home
